P0C/force-app/main/default/flows/TrackingFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TestString</name>
        <label>TestString</label>
        <locationX>428</locationX>
        <locationY>287</locationY>
        <actionName>ValidateMailID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>testss</targetReference>
        </connector>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>TrackingID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>RecordExists</name>
        <label>RecordExists</label>
        <locationX>908</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>NoMailRecordExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMailObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayMailRecord</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>testss</name>
        <label>testss</label>
        <locationX>599</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>Enter_Tracking_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestString</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMailObject</targetReference>
            </connector>
            <label>rg</label>
        </rules>
    </decisions>
    <interviewLabel>TrackingFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enter Tracking ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetMailObject</name>
        <label>GetMailObject</label>
        <locationX>806</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordExists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrackingID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DisplayMailRecord</name>
        <label>DisplayMailRecord</label>
        <locationX>857</locationX>
        <locationY>571</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enter_Tracking_ID</targetReference>
        </connector>
        <fields>
            <name>DisplayMailRecordDetails</name>
            <fieldText>&lt;p&gt;{!GetMailObject.Id}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GetMailObject.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GetMailObject.Route__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GetMailObject.Address__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GetMailObject.Height__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!GetMailObject.Width__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetMailObject.Weight__c}&lt;/p&gt;&lt;p&gt;{!GetMailObject.IsFragile__c}&lt;/p&gt;&lt;p&gt;{!GetMailObject.DeliveryStatus__c}&lt;/p&gt;&lt;p&gt;{!GetMailObject.Insurance__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Tracking_ID</name>
        <label>Enter Tracking ID</label>
        <locationX>238</locationX>
        <locationY>107</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TestString</targetReference>
        </connector>
        <fields>
            <name>LabelTExt</name>
            <fieldText>&lt;p&gt;Enter Tracking ID&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TrackingID</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoMailRecordExists</name>
        <label>NoMailRecordExists</label>
        <locationX>1083</locationX>
        <locationY>547</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enter_Tracking_ID</targetReference>
        </connector>
        <fields>
            <name>NoRecordExistsDetail</name>
            <fieldText>&lt;p&gt;Record Not Found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Enter_Tracking_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mail__c</objectType>
    </variables>
    <variables>
        <name>MailSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mail__c</objectType>
    </variables>
</Flow>
