P1/force-app/main/default/flows/CreateNewCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>CaseTypeOp</name>
        <choiceText>Missing Package</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing Package</stringValue>
        </value>
    </choices>
    <choices>
        <name>CaseTypeOp2</name>
        <choiceText>Change Of Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Of Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>CaseTypeOp3</name>
        <choiceText>Damaged Package</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damaged Package</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>675</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Nope</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecord</targetReference>
            </connector>
            <label>IsCreated</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>GetContactName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&#39; &#39; +{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>GetUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CreateNewCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateNewCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewCase</name>
        <label>CreateNewCase</label>
        <locationX>559</locationX>
        <locationY>187</locationY>
        <assignRecordIdToReference>CaseRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>StoredContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecord</label>
        <locationX>877</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Good</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>260</locationX>
        <locationY>136</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>fef</targetReference>
        </connector>
        <fields>
            <name>MainForm</name>
            <fieldText>&lt;p&gt;UserID: {!StoredID}&lt;/p&gt;&lt;p&gt;ContactID: {!StoredContactID}&lt;/p&gt;&lt;p&gt;ContactName: {!StoredContactName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>CaseTypeOp</choiceReferences>
            <choiceReferences>CaseTypeOp2</choiceReferences>
            <choiceReferences>CaseTypeOp3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>fef</name>
        <label>fef</label>
        <locationX>483</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNewCase</targetReference>
        </connector>
        <fields>
            <name>des</name>
            <fieldText>&lt;p&gt;{!StoredID}&lt;/p&gt;&lt;p&gt;{!StoredContactID}&lt;/p&gt;&lt;p&gt;{!Case_Type}&lt;/p&gt;&lt;p&gt;{!Subject}&lt;/p&gt;&lt;p&gt;{!Description}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Good</name>
        <label>Good</label>
        <locationX>859</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;CONGRATZ&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>xcvxv</name>
            <fieldText>&lt;p&gt;{!GetRecord.ContactId}{!GetRecord.Type}{!GetRecord.Status}{!GetRecord.AccountId}{!GetRecord.CaseNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nope</name>
        <label>Nope</label>
        <locationX>553</locationX>
        <locationY>701</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>Nay</name>
            <fieldText>&lt;p&gt;Nope&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>StoredContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>StoredContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetContactName</elementReference>
        </value>
    </variables>
    <variables>
        <name>StoredID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetUserId</elementReference>
        </value>
    </variables>
</Flow>
